<%= form_tag("/lists/#{list.id}", method: :put, remote: true, class: "list-type") do -%>
    <em><%= list.list_type.capitalize %>
    <span class="share-item"><%= image_submit_tag("/images/public.png")%></span>
    <% if list.list_type == 'private' %>
        <span class="hover-text-1">Make Public</span>
        <input name="list[list_type]" value="public" type="hidden">
    <% else %>
        <span class="hover-text-1">Make Private</span>
        <input name="list[list_type]" value="private" type="hidden">
    <% end -%>
<% end -%>