<h1>Lists on Lists on Lists</h1>

<strong class="list-title">My Lists</strong>
 
<ol class="list-items">
  <% if @lists.length == 0 %>
    <p class="empty-list"> You don't have any lists- add some below!</p>
  <% else %>
    <% @lists.each do |list| %>
        <%= render('lists/show', :list => list) %>
    <% end -%>
  <% end %>
</ol>

<br>

<%= link_to 'Add New List', new_list_path %>