<!-- Public Lists Search Result page -->

<br>
<%= form_tag("/lists/public/search", method: :get) do -%>

	<label for="autocomplete">Search lists: </label>
	<input id="autocomplete" name="list[search]" class="text-input">
	
	<input type="submit" value="Search" class="btn-style">
<% end -%>

<br>

<div id="public-lists-container">

	<strong class="list-title">Public List Search Results: </strong>
	<ul class="list-items">
	  <% if @search_results.length == 0 %>
	    <p class="empty-list"> Your search did not match any public lists. Please try again. </p>
	  <% else %>
	    <% @search_results.each do |result| %>
	        <%= render('lists/show', {:list => result, :page => 'public'}) %>
	    <% end -%>
	  <% end %>
	</ul>
</div>

<% public_list_titles = @public_lists_all.map {|l| l.title }.join(',')%>

<script>
	var public_lists = '<%= public_list_titles %>';
	$( "#autocomplete" ).autocomplete({
		minLength: 2,
		source: public_lists.split(','),
	});
</script>